<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wyh.Myeasyshop">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- SD卡读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.wyh.Myeasyshop.EasyShopApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:name">
        <activity android:name="com.wyh.Myeasyshop.main.MainActivity" />
        <activity android:name="com.wyh.Myeasyshop.main.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wyh.Myeasyshop.user.login.LoginActivity" />
        <activity android:name="com.wyh.Myeasyshop.user.register.RegisterActivity" />
        <activity android:name="com.wyh.Myeasyshop.main.me.personInfo.PersonActivity" />
        <activity android:name="com.wyh.Myeasyshop.main.me.personInfo.NickNameActivity" />
        <activity android:name="com.wyh.Myeasyshop.main.shop.details.GoodsDetailActivity" />
        <activity android:name="com.wyh.Myeasyshop.main.shop.details.GoodsDetailInfoActivity" />
        <activity android:name="com.wyh.Myeasyshop.main.me.goodsupload.GoodsUpLoadActivity" />
        <activity android:name="com.wyh.Myeasyshop.main.me.goodsupload.GoodsUpLoadImageShowActivity"></activity>
    </application>

</manifest>